# Creating Choice Tables for Respondents to Answer

## Check the choice table first

The tables should be in format of:

- Having Questions ID (qID) column; indicating that one choice is a group of a set of choice.
- All attributes for each choice.
- Should be in format where every choices in each group of choices are put in their own respective row.

In [5]:
import pandas as pd

# let's read the data from the docs
df = pd.read_csv('car_options_example.csv')
df

    qID      price   brand keyless electric warranty
0     1  above 50k   japan      No      Yes       No
1     1  10k - 50k  europe     Yes      Yes      Yes
2     1  below 10k   japan     Yes       No      Yes
3     2  above 50k  europe     Yes      Yes       No
4     2  10k - 50k   japan     Yes      Yes      Yes
5     2  below 10k  europe      No       No       No
6     3  10k - 50k  europe      No       No      Yes
7     3  above 50k   japan     Yes      Yes      Yes
8     3  below 10k  europe      No      Yes       No
9     4  below 10k   japan      No      Yes      Yes
10    4  above 50k   japan     Yes       No       No
11    4  10k - 50k  europe     Yes      Yes       No
12    5  10k - 50k   japan     Yes       No       No
13    5  below 10k  europe     Yes      Yes      Yes
14    5  above 50k  europe      No       No      Yes
15    6  below 10k   japan     Yes       No       No
16    6  above 50k  europe     Yes       No      Yes
17    6  10k - 50k   japan      No      Yes      Yes

## Call the module and create the table

Parameters to pass:
- input_path = file that contains all the options for the question later. Should be in csv file.
- label = label name regarding the topic, for example cars, banks, computers.
- col_id = question ID, indicating that one choice is a group of a set of choice.
- path_to_save = Location to save the tables.

In [11]:
from conjoint import table_generator

table_generator.table_generator(input_path='car_options_example.csv',
                                label='Cars',
                                col_id='qID',
                                path_to_save='images')

## Let's check the table result!

We'll only be showing one example of table from the table_generator. If you're eager to look more, you can check in "images" folder.

!['images for table'](images/table_options_1.png)